<div class="project-details">
    <div class="container-fluid">
        <h4>
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            Projects
            <button class="btn btn-orange btn-sm float-xs-right custom-edit-btn"><i class="fa fa-plus"></i>Add Projects</button>
        </h4>

        <div class="row projects">
            <section class="col-md-4 col-sm-6 col-xs-12">
                <md-card>
                    <md-card-header color="accent">
                        <img md-card-avatar src="../../../../assets/img/emplettes.png">
                        <md-card-title>Emplettes</md-card-title>
                        <md-card-subtitle>E-commerce Site</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/img/emplettes.png">
                    <md-card-content>
                        <p>Emppletes is a shopping site build on spring framework</p>
                    </md-card-content>
                </md-card>
            </section>
            <section class="col-md-4 col-sm-6 col-xs-12">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="../../../../assets/img/emplettes.png">
                        <md-card-title>Emplettes</md-card-title>
                        <md-card-subtitle>E-commerce Site</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/img/emplettes.png">
                    <md-card-content>
                        <p>Emppletes is a shopping site build on spring framework</p>
                    </md-card-content>
                </md-card>
            </section>
            <section class="col-md-4 col-sm-6 col-xs-12">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="../../../../assets/img/emplettes.png">
                        <md-card-title>Emplettes</md-card-title>
                        <md-card-subtitle>E-commerce Site</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/img/emplettes.png">
                    <md-card-content>
                        <p>Emppletes is a shopping site build on spring framework</p>
                    </md-card-content>
                </md-card>
            </section>
        </div>

        <div class="row projects">
            <section class="col-md-4">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="../../../../assets/img/emplettes.png">
                        <md-card-title>Emplettes</md-card-title>
                        <md-card-subtitle>E-commerce Site</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/img/emplettes.png">
                    <md-card-content>
                        <p>Emppletes is a shopping site build on spring framework</p>
                    </md-card-content>
                </md-card>
            </section>
            <section class="col-md-4">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="../../../../assets/img/emplettes.png">
                        <md-card-title>Emplettes</md-card-title>
                        <md-card-subtitle>E-commerce Site</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/img/emplettes.png">
                    <md-card-content>
                        <p>Emppletes is a shopping site build on spring framework</p>
                    </md-card-content>
                </md-card>
            </section>
            <section class="col-md-4">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="../../../../assets/img/emplettes.png">
                        <md-card-title>Emplettes</md-card-title>
                        <md-card-subtitle>E-commerce Site</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../../assets/img/emplettes.png">
                    <md-card-content>
                        <p>Emppletes is a shopping site build on spring framework</p>
                    </md-card-content>
                </md-card>
            </section>
        </div>

    </div>
</div>
