.project-details{
  h4{
    margin-bottom: 20px;
    font-weight: 300;
    color: #03a9f4;
    i{
      font-size: 20px;
      padding-right: 12px;
    }

    .custom-edit-btn{
      margin-top: 0px;
      font-size: 12px;
      padding: 5px 8px 5px 8px;
      text-transform: none;
      i{
        font-size: 12px;
        padding-right: 4px;
      }
    }
  }
  @media (max-width: 850px) {
    h4 {
      font-size: 18px;
      i {
        font-size: 18px; //smaller font size for button display
      }
    }
  }
  section{
    margin-bottom: 25px;
  }
}