<div class="activities-detail">
  <div class="container-fluid">
    <h4><i class="fa fa-globe"></i> Recent Activities</h4>

    <section>
    <div class="activities-item">
    <div class="activities-inner">
      <div class="inner-details">
        <div class="activity-title">
            <span>How to break line in css without break(br) tag</span>
        </div>
        <div class="activity-subtitle">
          <span>15 days ago</span>
          <span>- You</span>
        </div>
        <div class="subtitle-category">
          <span class="tag tag-success">HTML/CSS</span>
        </div>
          <div class="activity-body">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis consectetur earum expedita harum,
            hic labore maiores minima mollitia, odit perspiciatis rerum sapiente soluta suscipit, tempora ullam ut veniam vero?</span>
        </div>
      </div>
    </div>
    </div>
    </section>

    <section>
    <div class="activities-item">
      <div class="activities-inner">
          <div class="inner-details">
              <div class="activity-title">
                  <span>How to break line in css without break(br) tag</span>
              </div>
              <div class="activity-subtitle">
                  <span>15 days ago</span>
                  <span>- You</span>
              </div>
              <div class="subtitle-category">
                  <span class="tag tag-default">HTML/CSS</span>
              </div>
              <div class="activity-body">
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis consectetur earum expedita harum,
                    hic labore maiores minima mollitia, odit perspiciatis rerum sapiente soluta suscipit, tempora ullam ut veniam vero?</span>
              </div>
          </div>
      </div>
    </div>
    </section>

    <section>
          <div class="activities-item">
              <div class="activities-inner">
                  <div class="inner-details">
                      <div class="activity-title">
                          <span>How to break line in css without break(br) tag</span>
                      </div>
                      <div class="activity-subtitle">
                          <span>15 days ago</span>
                          <span>- You</span>
                      </div>
                      <div class="subtitle-category">
                          <span class="tag tag-danger">HTML/CSS</span>
                      </div>
                      <div class="activity-body">
                          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis consectetur earum expedita harum,
                            hic labore maiores minima mollitia, odit perspiciatis rerum sapiente soluta suscipit, tempora ullam ut veniam vero?</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>