
<div class="col-md-12">

  <md-card class="card-box">
  <!--First review-->
  <div class="media">
    <a class="media-left waves-light image-hover-effect">
      <img class="rounded-circle" src="https://fb-s-a-a.akamaihd.net/h-ak-xat1/v/t1.0-1/p160x160/12961644_963499713747728_1954927355077854271_n.jpg?oh=61da8b03bdd488b1bd6a2ec55b0e4b3b&oe=58EFBFBB&__gda__=1491529469_e820487572759ed51381fdc7a7b5b53f" alt="Generic placeholder image" width="80px" height="80px">
    </a>
    <div class="media-body forum-detail-wrapper">
      <h4 class="media-heading forum-question">Your Question Title Here?&nbsp; <button class="btn btn-orange btn-sm">Java</button></h4>
      <span class="date-of-posted">4 Days Ago</span> |&nbsp; Posted By: <span class="tag bg-info label-pill">Username</span>
        <span class="float-xs-right forum-view-comment">
          <i class="fa fa-comments-o" aria-hidden="true"></i> 4 &nbsp; <i class="fa fa-eye" aria-hidden="true"></i> 20
        </span>
      <div class="clearfix"></div>
      <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta Nisi cupiditate temporibus iure soluta.....</p>
    </div>
  </div>
  </md-card>

  <md-card class="card-box">
  <!--Second review-->
  <div class="media">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://fb-s-b-a.akamaihd.net/h-ak-xta1/v/t1.0-1/p160x160/13770316_1451857288174386_2054344082319340224_n.jpg?oh=10119b013a079067fb28bb18f300bf90&oe=58F0B4C3&__gda__=1492929211_5c4633e1ef9e4afa08f1ef540962e423" alt="Generic placeholder image" width="80px" height="80px">
    </a>
    <div class="media-body forum-detail-wrapper">
      <h4 class="media-heading forum-question">Your Question Title Here?&nbsp; <button class="btn btn-info btn-sm">Php</button></h4>
      <span class="date-of-posted">4 Days Ago</span> |&nbsp; Posted By: <span class="tag bg-info label-pill">Username</span>
      <span class="float-xs-right forum-view-comment">
          <i class="fa fa-comments-o" aria-hidden="true"></i> 4 &nbsp; <i class="fa fa-eye" aria-hidden="true"></i> 20
        </span>
      <div class="clearfix"></div>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta Nisi cupiditate temporibus iure soluta.....</p>
    </div>
  </div>
  </md-card>

  <md-card class="card-box">
  <!--Second review-->
  <div class="media">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://fb-s-c-a.akamaihd.net/h-ak-xfp1/v/t1.0-1/c17.0.160.160/p160x160/13151565_1016323915127868_3779517512618880317_n.jpg?oh=f0ef9b7f2d9dad8a67e25fa12f5e15e3&oe=58EBA9D7&__gda__=1488606436_d2f04c17dfeee4c0248d548a5e8ec132" alt="Generic placeholder image" width="80px" height="80px">
    </a>
    <div class="media-body forum-detail-wrapper">
      <h4 class="media-heading forum-question">Your Question Title Here?&nbsp; <button class="btn btn-success btn-sm">Android</button></h4>
      <span class="date-of-posted">4 Days Ago</span> |&nbsp; Posted By: <span class="tag bg-info label-pill">Username</span>
      <span class="float-xs-right forum-view-comment">
          <i class="fa fa-comments-o" aria-hidden="true"></i> 4 &nbsp; <i class="fa fa-eye" aria-hidden="true"></i> 20
        </span>
      <div class="clearfix"></div>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta Nisi cupiditate temporibus iure soluta.....</p>
    </div>
  </div>
  </md-card>

  <md-card class="card-box">
  <!--Second review-->
  <div class="media">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://fb-s-b-a.akamaihd.net/h-ak-xta1/v/t1.0-1/c2.0.160.160/p160x160/14671344_1200725473306543_4645255422786801043_n.jpg?oh=1ee0631cbbd63a498c82c27d518d6fee&oe=58EF2E8A&__gda__=1491852903_dde16e054ac7630e9bb2327ad002a557" alt="Generic placeholder image" width="80px" height="80px">
    </a>
    <div class="media-body forum-detail-wrapper">
      <h4 class="media-heading forum-question">Your Question Title Here?&nbsp; <button class="btn btn-danger btn-sm">Angular</button></h4>
      <span class="date-of-posted">4 Days Ago</span> |&nbsp; Posted By: <span class="tag bg-info label-pill">Username</span>
      <span class="float-xs-right forum-view-comment">
          <i class="fa fa-comments-o" aria-hidden="true"></i> 4 &nbsp; <i class="fa fa-eye" aria-hidden="true"></i> 20
        </span>
      <div class="clearfix"></div>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta Nisi cupiditate temporibus iure soluta.....</p>
    </div>
  </div>
  </md-card>

  <md-card class="card-box">
  <!--Second review-->
  <div class="media">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://fb-s-b-a.akamaihd.net/h-ak-xtp1/v/t1.0-1/p160x160/15319113_339802829737235_6325571513931573763_n.jpg?oh=8be4cd66aa659aaa984db25c79a0e99d&oe=58EDE6A2&__gda__=1492742415_3c905bd9823a5ab6344e376b4135adb6" alt="Generic placeholder image" width="80px" height="80px">
    </a>
    <div class="media-body forum-detail-wrapper">
      <h4 class="media-heading forum-question">Your Question Title Here?&nbsp; <button class="btn btn-defalut btn-sm">javascript</button></h4>
      <span class="date-of-posted">4 Days Ago</span> |&nbsp; Posted By: <span class="tag bg-info label-pill">Username</span>
      <span class="float-xs-right forum-view-comment">
          <i class="fa fa-comments-o" aria-hidden="true"></i> 4 &nbsp; <i class="fa fa-eye" aria-hidden="true"></i> 20
        </span>
      <div class="clearfix"></div>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta Nisi cupiditate temporibus iure soluta.....</p>
    </div>
  </div>
  </md-card>

  <md-card class="card-box">
  <!--Second review-->
  <div class="media">
    <a class="media-left waves-light">
      <img class="rounded-circle" src="https://fb-s-c-a.akamaihd.net/h-ak-xfl1/v/t1.0-1/p160x160/14606315_10154621481157813_7353264914410596915_n.jpg?oh=d52ff73c7f4bf869d99b81061ac7cc55&oe=58BDDB61&__gda__=1492318498_66ee314b3738729b57c686970294e213" alt="Generic placeholder image" width="80px" height="80px">
    </a>
    <div class="media-body forum-detail-wrapper">
      <h4 class="media-heading forum-question">Your Question Title Here?&nbsp; <button class="btn btn-primary btn-sm">Css</button></h4>
      <span class="date-of-posted">4 Days Ago</span> |&nbsp; Posted By: <span class="tag bg-info label-pill">Username</span>
      <span class="float-xs-right forum-view-comment">
          <i class="fa fa-comments-o" aria-hidden="true"></i> 4 &nbsp; <i class="fa fa-eye" aria-hidden="true"></i> 20
        </span>
      <div class="clearfix"></div>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta Nisi cupiditate temporibus iure soluta.....</p>
    </div>
  </div>
  </md-card>
</div>
