<div class="settings-details">
    <div class="container-fluid">
        <h4><i class="fa fa-user" aria-hidden="true"></i>About</h4>
        <div class="col-md-3 hidden-sm-down zero-pad">
            <div class="settings-nav">
                <ul>
                    <li><a>Overview</a></li>
                    <li><a href="#">Personal</a></li>
                    <li><a href="#exp-work">Experience and Work</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Skills and others</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="container-fluid">
              <div class="settings-body">
                  <div id="personal">
                      <h5>Basic Information</h5>
                      <md-input placeholder="Username" type="text" value="Mr. Chapagain" class="full-width"></md-input>
                      <md-input placeholder="Password" type="password" class="full-width"></md-input>
                      <md-input placeholder="Email" type="text" value="aashaischapagain@gmail.com" class="full-width"></md-input>
                      <md-input placeholder="Website" type="text" value="aashaischapagain.com.np" class="full-width"></md-input>
                      <md-input placeholder="City" type="text" value="Kathmandu" class="full-width"></md-input>
                      <md-input placeholder="" type="date" class="col-md-6" class="full-width"></md-input>
                  </div>
                  <!--<hr>-->
                  <!--<div id="exp-work">
                      <div>
                          <button md-raised-button color="warn" >Add Work or Experience</button>
                          <button md-raised-button color="accent" >Edit Work information</button>
                      </div>
                  </div>
                  <hr>
                  <div id="education">
                      <div>
                          <button md-raised-button color="warn" >Add new Education details</button>
                          <button md-raised-button color="accent" >Edit Education information</button>
                      </div>
                  </div>
                  <hr>
                  <div id="contact">
                      <div>
                          <button md-raised-button color="warn" >Add new Contact information</button>
                          <button md-raised-button color="accent" >Edit Contact information</button>
                      </div>
                  </div>
                  <hr>
                  <div id="skills">
                      <div>
                          <button md-raised-button color="warn" >Add new Skills information</button>
                          <button md-raised-button color="accent" >Edit Skills information</button>
                      </div>
                  </div>-->
              </div>
          </div>
        </div>
    </div>
</div>