.main-modal-header{

  background-color: #ff6b18;
  h1{
    font-weight: bold;
    font-size: 24px;
    color: #32a2f0;
  }

}

.main-modal-content{

  color: brown;

  img{
    height: 100px;
    width: 100px;
  }
}
