<section class="col-md-3 col-sm-12">
  <div class="container">
    <div class="profile-basic">
      <div class="profile-image">
        <img src="../../../assets/img/user1.jpg" class="rounded img-thumbnail z-depth-1" width="160">
      </div>
      <div class="profile-details">
        <div class="profile-heading">
          <h3>Aashish Chapagain</h3>
          <label>Php developer at ITGlance</label>
        </div>
        <ul>
          <li><label>Status : <span class="tag bg-warning label-pill float-xs-right">Mentor</span></label></li>
          <li><label>Studied BIM at NCCS</label></li>
        </ul>
      </div>
    </div>
  </div>
</section>