<a class="btn btn-outline-info btn-rounded waves-effect create-forum-post" [routerLink]="'forum-post'">Create Your
  Question</a>


<!--<modal #myModal>
  <modal-header class="main-modal-header">
    <h1>Dialog Box Chalyo !! :D</h1>
  </modal-header>
  <modal-content class="main-modal-content">
    <div class="col-sm-3">
      <img class="img-thumbnail" src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png"/>
    </div>

    <div class="col-sm-9">
      Hello Sabin!! Modal is Working Fine Here :D
      <form>
        <input type="text" placeholder="Post Title">
        <input type="text" placeholder="Post Question">
        <input type="text" placeholder="Post Detail">
        <input type="text" placeholder="Post Image">
      </form>
    </div>
    <div class="clearfix"></div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="myModal.close()">close</button>
  </modal-footer>
</modal>-->


<ul class="forum-filter-list-change">
  <h3 class="filter-heading">Choose filtering option</h3>
  <li><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;All</a></li>
  <li><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Popular All time</a>
  </li>
  <li><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Popular this week</a>
  </li>
  <li><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;My
    Questions</a></li>
  <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Answered
    Question</a></li>
  <li><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Unanswered
    Question</a></li>
  <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Latest Question</a>
  </li>
</ul>

<!--set categories here for filtering forum -->
<ul class="forum-filter-list-change category-filter-listing">
  <h3 class="filter-heading">Choose category</h3>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(248, 3, 2, 0.64)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Java</a></li>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(240, 0, 7, 0.82)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Laravel</a></li>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(10, 101, 248, 0.64)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;php</a></li>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(23, 248, 44, 0.64)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Spring</a></li>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(114, 36, 248, 0.64)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Sql</a></li>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(248, 162, 7, 0.82)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Angular</a></li>
  <li><i class="fa fa-square" aria-hidden="true" style="color: rgba(72, 131, 248, 0.64)"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Css</a></li>
</ul>

