<div class="personal-details">
    <div class="container-fluid">
        <div class="row">
        <!--personal information-->
        <section>
            <div class="col-md-12 col-sm-12">
                <h4>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Personal Information
                    <button (click)="onNavigate()" class="btn btn-orange btn-sm float-xs-right custom-edit-btn"><i class="fa fa-pencil"></i>Edit</button>
                </h4>
                <div class="personal-info">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt class="col-sm-3">Name</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6">Aashish</dd>

                                <dt class="col-sm-3">Username</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6">Mr. Chapagain</dd>

                                <dt class="col-sm-3">Email</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6 text-truncate">aashish_chapagain@gmail.com</dd>

                                <dt class="col-sm-3">Birthday</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6">1111-11-11</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt class="col-sm-3">Work</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6">Php developer</dd>

                                <dt class="col-sm-3">Website</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6 text-truncate">aashishchapagain.com</dd>

                                <dt class="col-sm-3">City</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6">Kathmandu</dd>

                                <dt class="col-sm-3">Country</dt>
                                <dd class="offset-md-1 offset-sm-2 col-sm-6">Nepal</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>

        <!--experience information-->
        <section>
            <div class="col-md-6 col-sm-12">
                <h4><i class="fa fa-trophy"></i>Experiences</h4>
                <div class="experience-info">
                    <i class="fa fa-chevron-right"></i>
                    <div class="experience-details">
                        <span class="title">Sr. PHP Developer</span>
                        <span class="sub-title1">Company Name</span>
                        <span class="sub-title2">2012-2016</span>
                    </div>
                </div>
                <div class="experience-info">
                    <i class="fa fa-chevron-right"></i>
                    <div class="experience-details">
                        <span class="title">Sr. PHP Developer</span>
                        <span class="sub-title1">Company Name</span>
                        <span class="sub-title2">2012-2016</span>
                    </div>
                </div>
                <div class="experience-info">
                    <i class="fa fa-chevron-right"></i>
                    <div class="experience-details">
                        <span class="title">Sr. PHP Developer</span>
                        <span class="sub-title1">Company Name</span>
                        <span class="sub-title2">2012-2016</span>
                    </div>
                </div>
                <hr>
            </div>
        </section>

        <!--educational information-->
        <section>
            <div class="col-md-6 col-sm-12">
                <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</h4>
                <div class="academic-info">
                    <i class="fa fa-check-circle"></i>
                    <div class="academic-details">
                        <span class="title">Masters Degree Name</span>
                        <span class="sub-title1">University Name</span>
                        <span class="sub-title2">2015-2018</span>
                    </div>
                </div>
                <div class="academic-info">
                    <i class="fa fa-check-circle"></i>
                    <div class="academic-details">
                        <span class="title">Masters Degree Name</span>
                        <span class="sub-title1">University Name</span>
                        <span class="sub-title2">2015-2018</span>
                    </div>
                </div>
                <div class="academic-info">
                    <i class="fa fa-check-circle"></i>
                    <div class="academic-details">
                        <span class="title">Masters Degree Name</span>
                        <span class="sub-title1">University Name</span>
                        <span class="sub-title2">2015-2018</span>
                    </div>
                </div>
                <hr>
            </div>
        </section>

        <!--skills information-->
        <section>
        <div class="col-md-12">
        <h4><i class="fa fa-cubes"></i>Skills</h4>
            <div class="skills-info">
                <div class="tag tag-primary">
                    Photoshop
                    <i class="close fa fa-times"></i>
                </div>
                <div class="tag tag-primary">
                    PHP
                    <i class="close fa fa-times"></i>
                </div>
                <div class="tag tag-primary">
                    Java
                    <i class="close fa fa-times"></i>
                </div>
                <div class="tag tag-primary">
                    JQuery
                    <i class="close fa fa-times"></i>
                </div>
                <div class="tag tag-primary">
                    Javascript
                    <i class="close fa fa-times"></i>
                </div>
                <div class="tag tag-primary">
                    CSS
                    <i class="close fa fa-times"></i>
                </div>
            </div>
            <hr>
        </div>
    </section>
        </div>
    </div>
</div>
