<div class="container-fluid">
    <div class="members">
        <md-card class="container">
            <div class="search-container">
                <i class="fa fa-search"></i>
                <input class="search" type="search" placeholder="Search...">
            </div>
        </md-card>

        <div class="member-list">
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/1.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/3.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/2.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/1.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/2.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/3.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/3.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/1.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/3.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/1.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/2.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/3.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
            <div class="member-block">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../assets/img/1.jpg" alt="">
                    <div class="overlay">
                        <h2>Member Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>