<div class="container-fluid">

    <div class="members">

      <!--search-box-->
      <!--<md-card class="container">-->
            <!--<div class="search-container">-->
                <!--<i class="fa fa-search"></i>-->
                <!--<input class="search" type="search" placeholder="Search...">-->
            <!--</div>-->
        <!--</md-card>-->

      <div class="member-list">
        <div class="founders">
          <h3>Founders</h3>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
              <img class="" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
            </div>
            <div class="quotes">
              <h4>Mary Jane</h4>
              <span>Something....</span>
              <p> Hi!.... Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aut corporis eius labore laboriosam maxime nulla totam vero! Ab
                  deleniti dolorem fugiat illo, impedit nemo, officia quaerat quas
                  reiciendis repellat sint.</p>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/3.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
            <div class="quotes">
                  <h4>Mary Jane</h4>
                  <span>Something....</span>
                  <p> Hi!.... Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aut corporis eius labore laboriosam maxime nulla totam vero! Ab
                      deleniti dolorem fugiat illo, impedit nemo, officia quaerat quas
                      reiciendis repellat sint.</p>
              </div>
          </div>
          <div class="member-block">
              <div class="profile-image">
                  <div class="hovereffect">
                      <img class="img-" src="../../assets/img/2.jpg" alt="">
                      <div class="overlay">
                          <h2>Member Name</h2>
                      </div>
                  </div>
              </div>
              <div class="quotes">
                  <h4>Mary Jane</h4>
                  <span>Something....</span>
                  <p> Hi!.... Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aut corporis eius labore laboriosam maxime nulla totam vero! Ab
                      deleniti dolorem fugiat illo, impedit nemo, officia quaerat quas
                      reiciendis repellat sint.</p>
              </div>
          </div>
          <div class="member-block">
              <div class="profile-image">
                  <div class="hovereffect">
                      <img class="img-" src="../../assets/img/1.jpg" alt="">
                      <div class="overlay">
                          <h2>Member Name</h2>
                      </div>
                  </div>
              </div>
              <div class="quotes">
                  <h4>Mary Jane</h4>
                  <span>Something....</span>
                  <p> Hi!.... Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aut corporis eius labore laboriosam maxime nulla totam vero! Ab
                      deleniti dolorem fugiat illo, impedit nemo, officia quaerat quas
                      reiciendis repellat sint.</p>
              </div>
          </div>
          <div class="member-block">
              <div class="profile-image">
                  <div class="hovereffect">
                      <img class="img-" src="../../assets/img/3.jpg" alt="">
                      <div class="overlay">
                          <h2>Member Name</h2>
                      </div>
                  </div>
              </div>
              <div class="quotes">
                  <h4>Mary Jane</h4>
                  <span>Something....</span>
                  <p> Hi!.... Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Aut corporis eius labore laboriosam maxime nulla totam vero! Ab
                      deleniti dolorem fugiat illo, impedit nemo, officia quaerat quas
                      reiciendis repellat sint.</p>
              </div>
          </div>
        </div>
      </div>

      <div class="member-list">
        <div class="mentors">
          <h3>Mentors</h3>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/1.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/3.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/2.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/1.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/3.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/1.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/2.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
      </div>
        </div>
      </div>

      <div class="member-list">
        <div class="sub-mentors">
          <h3>Sub-Mentors</h3>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/1.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/3.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/2.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/1.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="member-block">
            <div class="profile-image">
              <div class="hovereffect">
                <img class="img-" src="../../assets/img/3.jpg" alt="">
                <div class="overlay">
                  <h2>Member Name</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="member-list">
      <div class="members-only">
        <h3>Members</h3>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/3.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/2.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/2.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/3.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/2.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/3.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/2.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/3.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/3.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/1.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <img class="img-" src="../../assets/img/2.jpg" alt="">
              <div class="overlay">
                <h2>Member Name</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>